{% extends 'master-installer.html' %}
{% load static %}

{% block content %}
    
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {% for message in messages %}
                        <h5>{{ message.tags|title }}</h5>
                        {{ message|safe }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Deploy Summary</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        ID: {{ deployment.id }} <br>
                        Status: <span id="deployment_status">-</span>
                    </div>
                    <div class="row" id="log-stream">

                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'installer:destroy_config' %}" class="btn btn-danger text-white">Destroy</a>
                    <a href="{% url 'installer:post_deploy' %}" class="btn btn-success d-none btn-pd text-white">Post Deploy</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    {% include 'partials/general_modal.html' %}
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        var last_line = 0;
        var log_content = [];
        var deploy_status = "";

        function updateView() {
            $("#deployment_status").html(deploy_status);
            var stream_html = "";
            for (var i = 0; i < log_content.length; i++) {
                stream_html += log_content[i] + "<br>"
            }

            if(deploy_status == 'success'){
                $('.btn-pd').removeClass('d-none')
            }

            $("#log-stream").html(stream_html);
        }

        function doPoll() {
            $.get("{% url 'installer:deploy_log' deployment.id %}?from_line=" + last_line, function (data) {
                deploy_status = data.deployment.status;
                log_content = log_content.concat(data.log);
                last_line = last_line + data.log.length;

                updateView();
                if (deploy_status !== "success") {
                    setTimeout(doPoll, 1000);
                }
            });
        }

        $("document").ready(function () {
            doPoll()
        })
        $(function(){
         let btn  = $('#general_modal').find('.modal-title').html('Reset Confirmation')
         .end().find('.modal-body').html('Are you sure to reset this inventories?')
         .end()
         .find('.btn-save');
         btn.replaceWith('<a class="btn btn-primary" href="{% url 'installer:reset_all' %}">Ok</a>')
        });
    </script>
{% endblock %}