{% extends 'master-installer.html' %}
{% load static %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Inventory List</h3>
            <div class="float-right">
              <a data-toggle="modal" data-target="#general_modal" href="#" class="btn btn-danger"><i class="fas fa-minus"></i>&nbsp;&nbsp;Reset<a>
              <a href="{% url 'installer:inventories:add' %}" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Inventory</a>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>                  
                <tr>
                  <th>Name</th>
                  <th style="width:20%;">IP Address</th>
                  <th style="width:20%;">Group</th>
                  <th style="width:15%;">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for inventory in inventories %}
                  <tr>
                    <td>{{ inventory.server.name }}</td>
                    <td>{{ inventory.server.ip_address }}</td>
                    <td>{{ inventory.get_group_display }}</td>
                    <td>
                      <a href="{% url 'installer:inventories:edit' inventory.id %}" class="btn btn-sm btn-info" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a>
                      <button class="btn btn-sm btn-danger delete-swal" data-url="{% url 'installer:inventories:delete' inventory.id %}" data-name="{{ inventory }}" data-toggle="tooltip" title="Delete"><i class="fas fa-trash-alt"></i></button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
              
          </div>
          <div class="card-footer">
            <div class="float-right">
              <a href="{% url 'installer:servers:index' %}" class="btn bg-navy"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;Back</a>
              <a href="{% url 'installer:configurations:global_config' %}" class="btn bg-navy">Next&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    {% include 'partials/general_modal.html' %}

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
$(function(){
  let btn  = $('#general_modal').find('.modal-title').html('Reset Confirmation')
  
  .end().find('.modal-body').html('Are you sure to reset this inventories?')
  .end()
  .find('.btn-save');
  btn.replaceWith('<a class="btn btn-primary" href="{% url 'installer:inventories:reset' %}">Ok</a>')
})
</script>
{% endblock %}
