{% extends 'master-installer.html' %}
{% load static %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <div class="float-right">
              <a href="{% url 'installer:inventories:add' %}" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Inventory</a>
            </div>
          </div>
        </div>

        {% for group in inventory_groups %}
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><strong>GROUP: {{ group.1 }}</strong></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>                  
                <tr>
                  <th>Name</th>
                  <th>IP Address</th>
                  <th style="width:150px;">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for inventory in inventories %}
                  {% if inventory.group == group.0 %}
                  <tr>
                    <td>{{ inventory.server.name }}</td>
                    <td>{{ inventory.server.ip_address }}</td>
                    <td>
                      <button class="btn btn-sm btn-info">Edit</button>
                      <button class="btn btn-sm btn-danger">Delete</button>
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}
        
        <div class="card">
          <div class="card-footer">
            <div class="float-right">
              <a href="{% url 'installer:servers:index' %}" class="btn bg-navy"><i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;Back</a>
              <a href="{% url 'installer:global_config' %}" class="btn bg-navy">Next&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}