{% extends 'master-installer.html' %}
{% load static %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Server List</h3>
            <div class="float-right">
              <button class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Server</button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>                  
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>IP Address</th>
                  <th style="width:50px;">Status</th>
                  <th style="width:150px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Node-0</td>
                  <td>Contoh desc</td>
                  <td>192.168.0.1</td>
                  <td style="color:#3d9970">
                    <i class="fas fa-arrow-alt-circle-up fa-2x" title="UP"></i>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-info">Check</button>
                    <button class="btn btn-sm btn-danger">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>Node-1</td>
                  <td>Contoh desc</td>
                  <td>192.168.0.2</td>
                  <td style="color:#ff851b;">
                    <i class="fas fa-question-circle fa-2x" title="Unknown"></i>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-info">Check</button>
                    <button class="btn btn-sm btn-danger">Delete</button>
                  </td>
                </tr>
                <tr>
                  <td>Node-2</td>
                  <td>Contoh desc</td>
                  <td>192.168.0.3</td>
                  <td style="color:#d81b60;">
                    <i class="fas fa-arrow-alt-circle-down fa-2x" title="DOWN"></i>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-info">Check</button>
                    <button class="btn btn-sm btn-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <div class="float-right">
              <a href="{% url 'installer:inventory' %}" class="btn bg-navy">Next&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}