<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Static Routes
                </h3>
            </div>
            <div class="card-body">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Gateway Ip</th>
                            <th>Destination</th>
                            <th>Metric</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Reserved ranges</h3>
            </div>
            <div class="card-body">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Start Ip Address</th>
                            <th>End Ip Address</th>
                            <th>Owner</th>
                            <th>Type</th>
                            <th>Comment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Used</h3>
            </div>
            <div class="card-body">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Ip Address</th>
                            <th>Type</th>
                            <th>Node</th>
                            <th>Interface</th>
                            <th>Usage</th>
                            <th>Usage</th>
                            <th>Last Seen</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


            </div>
        </div>

    </div>

</div>