{% load widget_tweaks static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>hujan.io | {{ title }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include 'partials/css.html' %}
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">

</head>
<body class="hold-transition login-page">
<div class="login-box">

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
        <div class="login-logo">
            <img src="{% static 'images/logo.png' %}">
        </div>
      <p class="login-box-msg">hujan installer ui</p>

      <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% render_field field|add_class:"form-control form-control-user" placeholder=field.label %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                <small class="form-text text-danger">{{ field.errors }}</small>
            </div>
        {% endfor %}
        <div class="row">
          <div class="col-8">

          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-danger btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      {% comment %} <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div>
      <!-- /.social-auth-links --> {% endcomment %}

      <p class="mb-1">
        <a href="{% url 'password_reset' %}">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="{% url 'website:signup' %}" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

{% include 'partials/js.html' %}

</body>
</html>
