{% load widget_tweaks static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>hujan.io | {{ title }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include 'partials/css.html' %}
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">

</head>
<body class="hold-transition login-page">
<div class="login-box">

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
        <div class="login-logo">
            <img src="{% static 'images/logo.png' %}" width="100%;">
        </div>
      <p class="login-box-msg">Tagline in here</p>

      <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% render_field field|add_class:"form-control form-control-user" placeholder=field.label %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                <small class="form-text text-danger">{{ field.errors }}</small>
            </div>
        {% endfor %}
        <div class="row">
          <div class="col-8">
            <p class="mb-1">
              <a href="{% url 'password_reset' %}">I forgot my password</a>
            </p>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-info btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

{% include 'partials/js.html' %}

</body>
</html>
