{% extends 'master.html' %}
{% load utils static %}
{% block content %}

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3">{{ machine.fqdn }}</h3>
                    <ul class="nav nav-pills ml-auto p-2">
                        <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Summary</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Interface</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Storage</a></li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                            More <span class="caret"></span>
                        </a>
                        </li>
                    </ul>
                </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                
              </div>
            </div>

            <input type="hidden" id="system_id" value="{{ machine.system_id }}"/>

            
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    {% include 'maas/partials/summary.html' %}
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    {% include 'maas/partials/interface.html' %}
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_3">
                    {% include 'maas/partials/storage.html' %}
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
                
            
              
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% include 'partials/general_modal.html' %}
<!-- /.content -->
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'get_cookie.js' %}"></script>
{{ block.super }}
<script>
$(function(){
    $('.btn-edit').on('click', function(e){
        console.log(e);
        e.preventDefault();
        let id = $(this).data('id');
        let system_id = $('#system_id').val()
        let url = `${window.location.origin}/maas/machines/edit_physical/${system_id}/${id}/`
        axios.get(url).then((res) => {
            const response = res.data;
            $('#general_modal').find('.modal-title').html('Edit Pyshical').end()
            .find('.modal-body').html(response.html)
            .end().modal();

        })
    });

    $('.btn-disconnect').on('click', function(e){
        e.preventDefault();
        let url = $(this).data('url');
        axios.post(url, 
            { system_id: $('#system_id').val(), id:'{{ id }}' },
            { headers: { 'X-CSRFToken': getCookie('csrftoken') } }
            ).then(res =>{
            const response = res.data;
            if(response.status == 'success'){
                window.location.url = response.urlhref;
            }
            swal.fire('failed', response.message)
        })
    });

    $('.btn-save').on('click', function(e){
        e.preventDefault();
        let form = $('#general_modal').find('form');
        let action_form = form.attr('action');
        let data = form.serialize();
        let jsondata = Object.fromEntries(new URLSearchParams(data))
        console.log(jsondata, data);
        axios.post(
            action_form, 
            data,
            {
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            }
            ).then(res => {
                const response = res.data;
                if(response.status == 'success'){
                    document.location.href = response.urlhref
                }
            })
        })
});
</script>
{% endblock extra_js %}