{% extends 'master.html' %}
{% load utils %}
{% load static %}
{% block content %}

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header border-transparent">
                <form class="form-inline float-left">
                    <input type="text" class="form-control mr-sm-2" id="inlineFormInputName2" placeholder="Search machines">
                </form>
                <a href="{% url 'maas:machines:add' %}" class="btn btn-sm btn-info float-right">Add Machine</a>
                <button type="button" data-toggle="dropdown" class="btn btn-sm btn-primary dropdown-toggle float-right">
                  Action
                </button>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item dropdown-item-commission">Commision</a>
                  <a href="#" class="dropdown-item dropdown-item-deploy">Deploy</a>
                  <a href="#" class="dropdown-item dropdown-item-onoff">Turn On / Off</a>
                  <a href="#" class="dropdown-item dropdown-item-delete">Delete</a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <form method="post">
                  <table class="table m-0" id="table_machine">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>FQDN | MAC</th>
                      <th>Power</th>
                      <th>Status</th>
                      <th>Owner</th>
                      <th>Cores</th>
                      <th>RAM (GiB)</th>
                      <th>Storage (GB)</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for machine in machines %}
                        <tr>
                          <td><a href="{% url 'maas:machines:details' machine.system_id %}"> {{ machine.fqdn }} </a></td>
                          <td>
                            {% if machine.power_state.lower == "on" %}
                              <i class='text-success fas fa-power-off'></i> <small>ON</small>
                            {% elif machine.power_state.lower == "off" %}
                              <i class='text-secondary fas fa-power-off'></i> <small>OFF</small>
                            {% else %}
                              <i class='text-warning fas fa-question-circle' title='Unknown'></i>
                            {% endif %}
                          </td>
                          <td>{{ machine.status_name }}</td>
                          <td>{{ machine.owner|default_if_none:"-" }}</td>
                          <td>{{ machine.cpu_count }}</td>
                          <td>{{ machine.memory|sizify }}</td>
                          <td>{{ machine.storage|sizify }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </form>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">


              </div>
            </div>

        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

{% include 'partials/general_modal.html' %}
<!-- /.content -->
{% endblock %}



{% block extra_js %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'get_cookie.js' %}"></script>
<script type="text/javascript">

  (function ($, window, document) {
    let systemId;
    let resLastStatusMachine = function(a){
      let t = $('#table_machine');

      t.find('tbody').empty()
      t.append(a)
    }
    let worker = new Worker('{% static 'webworker.js' %}')
    worker.addEventListener('error', function(a) {
        console.log(a);
        console.error('Error: Line ' + a.lineno + ' in ' + a.filename + ': ' + a.message);
    }, false);
    worker.addEventListener('message', function(a) {
        if (a.data.cmd === 'resLastStatusMachine') { resLastStatusMachine(a.data.val) }
      
    });
    worker.postMessage({ cmd: 'reqLastMachine', val: `${window.location.origin}/maas/machines/load_machine/`});

    $('.dropdown-item-commission').on('click', function(){
      let si = $('input[name="csi"]').val();
      systemId = si;
      console.log(si);
      axios.get(`${window.location.origin}/maas/machines/commission/${si}`).then(res => {
        const response = res.data;
        console.log(response);
        $('#general_modal').find('.modal-body').html(response.html).end()
        .find('.modal-title').html('Machine Commision').end()
        .modal();
      });
    });


    $('.dropdown-item-deploy').on('click', function(){
      let si = $('input[name="csi"]').val();
      systemId = si;
      console.log(si);
      axios.get(`${window.location.origin}/maas/machines/deploy/${si}`).then(res => {
        const response = res.data;
        $('#general_modal').find('.modal-body').html(response.html).append('Are You Sure ??').end()
        .find('.modal-title').html('Machine Deploy').end()
        .modal();
      })
      
    });


    $('.btn-save').on('click', function(e){
      e.preventDefault();
      let form = $('#general_modal').find('form');
      $('#general_modal').modal('hide');
      let data = form.serialize();
      console.log(data);  
      axios.post(form.attr('action'), data,
      {
          headers: {
              'X-CSRFToken': getCookie('csrftoken'),
              'Content-Type': 'application/x-www-form-urlencoded',
          }
      }
      ).then(res =>{
        const response = res.data;
        console.log(response);
        swal.fire({
          icon: response.status,
          text: response.message
        })

      })
    });

}(jQuery, window, document));
</script>
{% endblock extra_js %}
