{% extends 'master.html' %}
{% load utils widget_tweaks %}
{% block content %}

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header border-transparent">
                <a href="{% url 'maas:dns:add' %}" class="btn btn-sm btn-info float-right">Add Domain</a>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Domain</th>
                      <th>Authoritative</th>
                      <th>Hosts</th>
                      <th>Total Records</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for domain in domains %}
                        <tr>
                          <td><a href=""> {{ domain.name }} </a></td>
                          <td>{{ domain.authoritative|bool_icon|safe }}</td>
                          <td>{{ domain.ttl|default_if_none:"-" }}</td>
                          <td>{{ domain.resource_record_count }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                

              </div>
            </div>

        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock %}