{% extends 'master.html' %}
{% load utils %}
{% block content %}

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-transparent">
            <form class="form-inline float-left">
              <input type="text" class="form-control mr-sm-2" id="inlineFormInputName2" placeholder="Search Subnets">
            </form>
            <button type="button" class="float-right btn btn-default dropdown-toggle" data-toggle="dropdown">
              Action
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'maas:subnets:add' %}">Add Subnet</a>
              <a class="dropdown-item" href="{% url 'maas:fabrics:add' %}">Add Fabric</a>
              <a class="dropdown-item" href="{% url 'maas:vlans:add' %}">Add Vlan</a>
              <a class="dropdown-item" href="{% url 'maas:spaces:add' %}">Add Spaces</a>

            </div>

          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>Fabric</th>
                    <th>Vlan</th>
                    <th>DHCP</th>
                    <th>Subnet</th>
                    <th>Available IPS</th>
                    <th>Space</th>
                  </tr>
                </thead>
                <tbody>

                  {% for fabric in group_subnet %}
                  <tr>
                    <td><a href="{% url 'maas:fabrics:detail' fabric.id %}">{{ fabric.name }} </a></td>
                    {% for vlan in fabric.vlans %}
                    {% if forloop.first == False %}<tr><td>&nbsp;</td>{% endif %}
                    <td><a href="{% url 'maas:vlans:detail' vlan.id %}">{{ vlan.name }}</a></td>
                    <td>
                      {% if vlan.dhcp_on %}
                      MAAS-provided
                      {% else %}
                      No DHCP
                      {% endif %}
                    </td>
                    <td><a href="{% url 'maas:subnets:subnet_detail' fabric.subnet.id %}">{{ fabric.subnet.cidr }}</a>
                    </td>
                    <td>0%</td>
                    <td>{{ vlan.space }}</td>
                    {% if forloop.first == False %}</tr>{% endif %} 
                  {% endfor %}
                  </tr>
                  {% endfor %}



                </tbody>
              </table>



            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">


          </div>
        </div>

      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock %}