{% extends 'master.html' %}
{% load utils %}
{% block content %}

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-transparent">
            <form class="form-inline float-left">
              <input type="text" class="form-control mr-sm-2" id="inlineFormInputName2" placeholder="Search Subnets">
            </form>
            <button type="button" class="float-right btn btn-default dropdown-toggle" data-toggle="dropdown">
              Action
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'maas:subnets:add' %}">Add Subnet</a>
              <a class="dropdown-item" href="{% url 'maas:fabrics:add' %}">Add Fabric</a>
              <a class="dropdown-item" href="{% url 'maas:vlans:add' %}">Add Vlan</a>
              <a class="dropdown-item" href="{% url 'maas:spaces:add' %}">Add Spaces</a>

            </div>

          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>Fabric</th>
                    <th>Vlan</th>
                    <th>DHCP</th>
                    <th>Subnet</th>
                    <th>Available IPS</th>
                    <th>Space</th>
                    <th class="text-right">#</th>
                  </tr>
                </thead>
                <tbody>
                  {% for subnet in subnets %}
                  <tr>
                    <td><a href="{% url 'maas:fabrics:detail' subnet.vlan.fabric_id %}">{{ subnet.vlan.fabric }} </a>
                    </td>
                    <td><a href="{% url 'maas:vlans:detail' subnet.vlan.id %}">{{subnet.vlan.name}}</a></td>
                    {% if subnet.dhcp_on %}
                    <td>Maas-provided</td>
                    {% else %}
                    <td>No DHCP </td>
                   
                    {% endif %}
                    
                    <td><a href="{% url 'maas:subnets:subnet_detail' subnet.id%}">{{subnet.cidr}}</a></td>
                    <td>0 %</td>
                    <td>{{subnet.space}}</td>
                    <td>
                      <div class="btn-group">
                        <a href="{% url 'maas:subnets:subnet_edit' subnet.id %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'maas:subnets:subnet_detail' subnet.id %}" class="btn btn-info">Detail</a>
                        <a href="{% url 'maas:subnets:subnet_delete' subnet.id %}" class="btn btn-danger">Delete</a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td colspan=7>Group Fabric</td>
                  </tr>

                  {% for fabric in fabrics %}
                  <tr>
                    <td><a href="{% url 'maas:fabrics:detail' fabric.id %}">{{ fabric.name }} </a></td>
                    <td>
                        {% for vlan in fabric.vlans %}
                          <tr>
                            <td>--</td>
                            <td><a href="{% url 'maas:vlans:detail' vlan.id %}">( {{ vlan.vid }}) {{ vlan.name}}</a></td>
                            <td>
                            {% if vlan.dhcp_on %}
                              MAAS-provided
                            {% else %}
                              No DHCP
                            {% endif %}
                            </td>
                            <td>--</td>
                            <td>0 %</td>
                           <td>{{ vlan.space}}</td> 
                           <td></td>
                          </tr>
                          {% endfor %}
                        {% endfor %}
                    </td>
                    

                  </tr>
                  
                </tbody>
              </table>



            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">


          </div>
        </div>

      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
{% endblock %}