{% extends 'master.html' %}
{% load utils %}
{% block content %}

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <div class="invoice p-3 mb-3">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Subnet Summary
                                    </h3>
                                    <div class="float-right ">
                                        <a href="{% url 'maas:subnets:subnet_edit' subnet.id %}" class="btn btn-success">Edit</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <ul>
                                                <li>Name: {{ subnet.name }}</li>
                                                <li>CIDR: {{ subnet.cidr }}</li>
                                                <li>Gateway IP: {{ subnet.gateway_ip }}</li>
                                                <li>DNS: {{ subnet.dns }}</li>
                                                <li>Description: {{ subnet.description }}</li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul>
                                                <li>Manage alloction: {{ subnet.managed }}</li>
                                                <li>Active discovery:
                                                    {{ subnet.active_discovery }}
                                                </li>
                                                <li>Proxy Access: {{ subnet.allow_proxy }}</li>
                                                <li>Allow DNS Resolution: {{ subnet.allow_dns }}
                                                </li>
                                                <li>Fabric: {{ subnet.vlan.fabric }}</li>
                                                <li>Vlan: {{ subnet.vlan.name }}</li>
                                                <li>Space: {{ subnet.space }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'maas/partials/subnet_table.html' %}



                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}